<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="styesheet" src="./app.scss">
    <title>Liquibase Changeset Generator</title>
  </head>
<body>

  <div id="vue-app" class="demo container">
    <div>
      
      <b-form-group
        id="fieldset-1"
        description="Change set author's full name"
        label="Author"
        label-for="author-input"
        :invalid-feedback="invalidFeedback"
        :state="state"
        content-cols
        label-cols="2"
        label-cols-sm="3"
        label-cols-xxl="1"
        >
        <b-form-input id="author-input" v-model="author" :state="state" trim></b-form-input>
      </b-form-group>


    </div>
    <div>      
      <b-form-group
        id="fieldset-2"
        description="JIRA Ticket Number"
        label="Ticket Number"
        label-for="ticket-id-input"
        content-cols
        label-cols="2"
        label-cols-sm="3"
        label-cols-xxl="1"
        >
        <b-form-input id="ticket-id-input" v-model="id" trim></b-form-input>
      </b-form-group>

      <b-form-group
        id="fieldset-3"
        description="Labels can be used to only run a changeset in a specific environment"
        label="Labels"
        label-for="labels-id-input"
        content-cols
        label-cols="2"
        label-cols-sm="3"
        label-cols-xxl="1"
        >
        <b-form-input id="labels-id-input" v-model="labels" trim></b-form-input>
      </b-form-group>

    </div>
    <div>
      <button v-on:click="createChangeset" v-if=!showChangesetInput class="btn btn-primary">Create Change Set</button>
    </div>
  
    <div>
    <changeset v-for="changeset in changeSets"
               v-bind:key="changeset.id"
               v-bind:id="id + '-' + changeset.id"
               v-bind:author="author"
               v-bind:labels="labels"></changeset>
    </div>
   
  </div>
  <script src="./index.js"></script>
</body>
</html>